* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
      height: 15vh;
      background: #444;
      color: #DDD;
  }

  main {
      background: #EEE;
      height: 85vh;
  }

  table,
  section,
  nav {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  table {
      padding-top: 5vh;
  }

.row td {
    height: 120px;
    width: 120px;
    border: 1px solid #000;
    text-align: center;
    font-size: 2em;
}
.player {
    display: inline-block;
}
.player:nth-of-type(1) {
    margin-right: .5rem;
}
.player-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
}
button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: .5rem 1.2rem;
    border: none;
    border-radius: 7px;
    background: #77aaff;
    font-size: 1rem;
}